<footer>
  <div class="scaffold-container">

    <div class="mainfooter scaffold-flex scaffold-justify-between">
      <div class="logo-container">
        {%- include mm-main-lockup.svg -%}
      </div>
      <div class="nav-section scaffold-flex">
        <div class="nav-container scaffold-flex scaffold-flex-col">
          <h3>Pages</h3>
          <a class="" href="{{ site.baseurl }}/">Home</a>
          <a class="" href="{{ site.baseurl }}/team">Team</a>
          <a class="" href="{{ site.baseurl }}/services">Services</a>
        </div>
        <div class="nav-container scaffold-flex scaffold-flex-col">
          <h3>Connect</h3>
          <a href="{{ site.data.contact.address.maps_url }}" target="_blank" rel="noopener noreferrer">{{ site.data.contact.address.street }}<br>{{ site.data.contact.address.city }}, {{ site.data.contact.address.state }} {{ site.data.contact.address.zip }}</a>
          <a href="tel:{{ site.data.contact.phone_link }}">{{ site.data.contact.phone }}</a>
          <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
        </div>
        <div class="nav-container scaffold-flex scaffold-flex-col">
          <h3>Hours</h3>
          <!-- TODO add the closed today thing here -->
          {% for hour in site.data.contact.hours %}
            <p>{{ hour.days }} · {{ hour.time }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="subfooter scaffold-flex scaffold-justify-between">
      <p class="">© Mint + Molar Dental Care {{ 'now' | date: "%Y" }}</p>
      <div class="policies scaffold-flex">
        <a href="">Privacy Policy</a>
        <a href="">Notice of Privacy Practices</a>
        <a href="">Terms of Use</a>
        <a href="">Notice of Non-Discrimination</a>
        <a href="">Accessibility</a>
      </div>
    </div>

  </div>
</footer>
