<footer>
  <div class="scaffold-container">

    <div class="">

    </div>
    <div class="subfooter scaffold-flex scaffold-justify-between">
      <!-- TODO what class am I missing from these for the flex to work using scaffold -->
      <p class="">© Mint + Molar Dental Care {{ 'now' | date: "%Y" }}</p>
      <div class="policies scaffold-flex">
        <a href="">Privacy Policy</a>
        <a href="">Notice of Privacy Practices</a>
        <a href="">Terms of Use</a>
        <a href="">Notice of Non-Discrimination</a>
        <a href="">Accessibility</a>
      </div>
    </div>

  </div>
</footer>
