@use 'scaffold/scaffold' as scaffold;

.cta-container {
  @include scaffold.container();
  .cta-card{
    background-color: var(--color-mint-extra-dark);
    padding: 3rem;
    margin-block-start: 5em;
    border-radius: 40px;
    color: var(--color-white);

    h2{
      font-size: clamp(2rem, 6vw, 4rem);
      font-weight: var(--font-bricolage-regular);
      text-wrap: balance;
      margin: 0;
      em{
        font-family: var(--font-lora);
        font-style: var(--font-lora-italic);
        font-weight: var(--font-lora-regular);
        color: var(--color-mint);
      }
    }
    .content-area{
      text-wrap: balance;
      p{
        margin: 0;
        margin-block-end: 0.5em;
      }
      .main{
        font-size: 1.5em;
      }
      .secondary{
        font-weight: var(--font-bricolage-regular);
      }
      .action-bar{
        margin-block-start: 1em;
        a{
          display: inline-block;
          width: 4em;
          text-align: center;
          padding: 0.5rem 1.25rem;
          color: inherit;
          text-decoration: none;
          border-radius: var(--number-round);
          transition: var(--transition-sprint);
          &:first-of-type{
            background: var(--color-mint-dark);
            &:hover{
              // TODO update this color
              background: var(--color-mint);
            }
          }
          &:last-of-type{
            box-shadow: inset 0 0 0 2px var(--color-mint-dark);
            // outline: 2px solid var(--color-mint-dark);
            // border: 2px solid var(--color-mint-dark);
            &:hover{
              background: var(--color-mint-dark);
            }
          }
        }
      }
    }
  }
}
