@use 'scaffold/scaffold' as scaffold;

footer {
  background: var(--color-mint-extra-dark);
  color: var(--color-white);
  padding-block: 3rem;

  .footer {
    &__inner {
      @include scaffold.container();
      @include scaffold.flex();
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
