@use 'scaffold/scaffold' as scaffold;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--color-mint-extra-light);

  font-family: var(--font-bricolage);
  font-weight: var(--font-bricolage-regular);

  margin: 0;
  .page-content{
    @include scaffold.container();
  }
  .hero{
    padding-block: 1em 2em;
    background: var(--color-mint-light);
    margin-block-end: 3em;
    @include scaffold.breakpoint(md) {
      padding-block: 1em 3em;
    }
    .hero__tag-link{
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      background-color: var(--color-mint);
      padding: 0.5rem 0.75rem 0.5rem 1.25rem;
      border-radius: var(--number-round);
      &:hover{
        .arrow-animation{
          span{
            &.first{ transform: translateX(0.15em); }
            &.second{ opacity: 1; transform: translateX(0.05em); }
          }
        }
      }
    }
    h1{
      font-weight: var(--font-bricolage-extrabold);
      font-size: clamp(2.5rem, 8vw, 5rem);
      margin: 0;
      text-wrap: balance;
      em{
        font-family: var(--font-lora);
        font-weight: var(--font-lora-regular);
        font-style: var(--font-lora-italic);
        color: var(--color-mint-dark);
      }
    }
  }
  .contact-stats{
    .item-card{
      h2{
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--color-mint-dark);
        font-weight: var(--font-bricolage-regular);
        margin-top: 0;
        margin-block-end: 0.3em;
        @include scaffold.breakpoint(md) {
          margin-block-end: 0.83em;
        }
      }
      p{
        margin: 0;
      }
      a{
        text-decoration: none;
        color: inherit;
      }
      .primary-info{
        font-size: 1.25em;
        font-weight: var(--font-bricolage-bold);
        @include scaffold.breakpoint(md) {
          font-size: 1.5em;
        }
      }
    }
  }
  .arrow-animation{
    display: inline-flex;
    span{
      display: inline-flex;
      transition: var(--transition-tight-spring);
      svg{
        width: 0.6em;
        height: 0.6em;
        fill: currentColor;
      }
      &.first{ transform: translateX(0); }
      &.second{ opacity: 0; transform: translateX(-0.5em); }
    }
  }

  .what-we-do, .how-we-work{
    margin-block-start: 6em;
    .headline{
      margin-block-end: 2em;
    }
    h2, h3{
      margin: 0;
    }
    h2{
      font-size: 1em;
      text-transform: uppercase;
      font-weight: var(--font-bricolage-regular);
      color: var(--color-mint-dark);
      @include scaffold.breakpoint(md) {
        font-size: 1.25em;
      }
    }
    h3{
      font-size: clamp(2rem, 6vw, 4em);
      font-weight: var(--font-bricolage-regular);
      em{
        font-family: var(--font-lora);
        font-style: var(--font-lora-italic);
        color: var(--color-mint-dark);
      }
    }
    .services-link{
      font-size: 1em;
      text-decoration: none;
      @include scaffold.breakpoint(md) {
        font-size: 1.5em;
      }
      margin-block-start: 0.5em;
      display: block;
      color: var(--color-mint-dark);
      &:hover{
        .arrow-animation{
          span{
            &.first{ transform: translateX(0.15em); }
            &.second{ opacity: 1; transform: translateX(0.05em); }
          }
        }
      }
    }
    .item-card{
      h4{
        font-size: 1.5em;
        margin: 0;
        margin-block-end: 0.25em;
      }
      p{
        margin: 0;
        text-wrap: balance;
      }
    }
  }
}
